extends ./layout/common

block content  
    nav(class="navbar navbar-expand-lg navbar-light bg-light")
        a(href="#" class="navbar-brand") 
            img(src="/image/logo.jpg", style="width: 50px; height: auto")
        a(href="/users", class="nav-link") Users
        a(href="/users/create", class="nav-link") Create
    h1 Hello #{name}
    a(href="/users", style="display: block") Users list
    img(src="/image/logo.jpg", alt="")